body {
    font-family: Lucida Handwriting, Cursive;
    background-color: #FFEBCD;
    color: black;
   
}

container {
    background-color: lightsalmon;
}

h1 {
    border-bottom: 3px solid lightsalmon;
    font-family: Lucida Handwriting, Cursive;
    color: lightsalmon;
}

#main {
    font-family: Lucida Handwriting, Cursive;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 4px 4px 4px;
    color: black;
}


table {
    font-family: Lucida Handwriting, Cursive;  
    
    border-width: 2px;
    border-color: #000000;
    border-style: solid;    
}
tr {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}
th {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

input[type="text"], input[type="password"] {
    background-color: #FFEBCD;
    width: 120px;
}

input[type="submit"] {
    border:1px;
    border-color:black;
    padding: 4px;
}

