

<div style="border:1px solid grey ;padding:10px ;border-radius:25px ; width:140px">
    <table style="border-color:#FFEBCD" >
        <tr style="border:1px solid grey">
            <td>
                @Html.ActionLink("Category", "Index", "Category", null, new { style = "color: black" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.ActionLink("Pc Component", "Index", "PcComponent", null, new { style = "color: black" })
            </td>
        </tr>
    </table>
</div>